* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E8F5FF;
  font-family: 'Montserrat', sans-serif;
  color-scheme: light;
}
html {
  scroll-behavior: smooth;
}
[id] {
  scroll-margin-top: 90px;
}