.page {
  min-height: 100vh;
  width: 100%;
  position: relative;

  /* Треугольники главной страницы */
  background-image: url('/triangles_Main.svg');
  background-size: cover;         /* масштабируем по ширине экрана */
  background-position: top center; /* привязка к верхнему центру */
  background-repeat: no-repeat;
  /* background-attachment: fixed;   фон остаётся на месте при прокрутке */
}